@{
    ViewData["Title"] = "Home Page";
}

<div style="background-image: progra/fondovideo,jpg;" class="text-center">
    <h1 class="display-4">Video Juegos Store</h1>
    <p>Venta de todo tipo de productos de Video Juegos</p>
</div>

